# Copyright (C) 2018-2026 Adam Leszczynski (aleszczynski@bersler.com)
#
# This file is part of OpenLogReplicator-tutorials
#
# Open Log Replicator is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License as published
# by the Free Software Foundation; either version 3, or (at your option)
# any later version.
#
# Open Log Replicator is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
# Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Open Log Replicator; see the file LICENSE.txt  If not see
# <http://www.gnu.org/licenses/>.

services:
  oracle:
    image: "${DB_IMAGE}"
    container_name: "${DB_CONTAINER}"
    volumes:
      - ./fra:/opt/oracle/fra
      - ./oradata:/opt/oracle/oradata
      - ./sql:/opt/sql
      - ./setup:/opt/oracle/scripts/setup
    networks:
      - isolated_network
    environment:
      - ORACLE_CHARACTERSET=AL32UTF8
    build:
      context: .
      shm_size: '2gb'
    shm_size: '2gb'

  kafka:
    image: "${KAFKA_IMAGE}"
    container_name: "${KAFKA_CONTAINER}"
    profiles: ["kafka"]
    volumes:
      - ./kafka:/var/lib/kafka/data
    networks:
      - isolated_network
    environment:
    # KRaft parameters
      - CLUSTER_ID=${KAFKA_CLUSTER}
      - KAFKA_NODE_ID=1
      - KAFKA_PROCESS_ROLES=broker,controller
      - KAFKA_CONTROLLER_QUORUM_BOOTSTRAP_SERVERS=kafka:9093
    # Listeners
      - KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
    # Performance & configuration
      - KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=0
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
    healthcheck:
      test: ["CMD", "/kafka/bin/kafka-topics.sh", "--bootstrap-server", "${KAFKA_BROKER}", "--list"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 60s

  openlogreplicator:
    image: "${OLR_IMAGE}"
    container_name: "${OLR_CONTAINER}"
    profiles: ["openlogreplicator"]
    depends_on:
      - oracle
      - kafka
    volumes:
      - ./bin:/opt/bin
      - ./checkpoint:/opt/OpenLogReplicator/checkpoint
      - ./fra:/opt/fra
      - ./log:/opt/OpenLogReplicator/log
      - ./oradata:/opt/oradata
      - ./scripts:/opt/OpenLogReplicator/scripts
    restart: "no"
    networks:
      - isolated_network

networks:
  isolated_network:
    internal: true
